:root {
    --primary-text-color: #e7e7e7;
    --secondary-text-color: #94a1b2;

    --back-btn-color: #d1d1d130;
    --back-btn-color-hover: #92929269;

    --main-color: rgb(87, 60, 250);
    --main-color-hover: rgb(69, 46, 199);
    --main-color-active: rgb(41, 21, 156);

    --ok-color: #4cdb28b3;
    --ok-color-hover: #32b623b3;
    --ok-color-active: #2a7116b3;
    
    --close-color: #db2828b3;
    --close-color-hover: #a0101073;
    --close-color-active: #64121273;

    --scrollbar-color: #573cfa;
    --scrollbar-color-hover: #452ec7;
    --scrollbar-background: #07070cfa;

    --menu-shadow-before-color: radial-gradient(circle, rgba(88, 60, 250, 0.65) 0%, rgba(255, 255, 255, 0.0) 70%);
    --menu-shadow-after-color: radial-gradient(circle, rgba(69, 46, 199, 0.7) 0%, rgba(255, 255, 255, 0.0) 70%);

    --menu-background: #07070cfa;
    --submenu-background: #4d51850f;
    --submenu-background-selected: rgb(36 37 42 / 37%);
    --border-radius: 0.4em;

    --strenght-bar-color: rgb(87, 60, 250);  /* rgb(223, 69, 69) */
    --condition-bar-color: rgb(87, 60, 250);  /* rgb(57, 175, 63) */
    --shooting-bar-color: rgb(87, 60, 250);  /* rgb(69, 97, 223) */
    --driving-bar-color: rgb(87, 60, 250);  /* rgb(223, 208, 69) */
    --flying-bar-color: rgb(87, 60, 250);  /* rgb(69, 205, 223) */
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    /* font-family: 'Titillium Web', sans-serif; */
    /* color: white; */
}

p {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover);
}

body {
    overflow: hidden;
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    width: 100%;
    height: 100%;

    /* color: var(--primary-text-color); */
}

.helpInfo {
    display: none;
    position: absolute;
    border-radius: 5px;
    bottom: 45px;
    right: 8px;
}

.helpInfo>span {
    font-weight: 400;
    display: inline-flex;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    color: white;
    font-size: .95em;
    align-items: center;
}

.helpInfo>span>.stamina-bar {
    width: 100px;
    border-radius: 4px;
    border: 1px solid #ffffff87;
    height: 20px;
    margin-left: 6px;
}

.helpInfo>span>.stamina-bar>.stamina-value {
    background: white;
    height: 100%;
    transition: 0.45s;
}

.helpButtons {
    display: none;
    position: absolute;
    bottom: 6px;
    border-radius: 5px;
    right: 8px;
}

.helpButtons>span {
    /* font-family: "Barlow Condensed", sans-serif; */
    font-weight: 400;
    display: inline-flex;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    color: white;
    font-size: .95em;
    align-items: center;
}

.helpButtons>span>img {
    height: 18px;
    width: auto;
    margin-right: 5px;
}

.statistics-menu {
    display: none;
    position: absolute;
    top: 30%;
    left: 5em;
    background: var(--menu-background);
    border-radius: 0.5em;
    animation: show 0.2s ease-in-out;
}

@keyframes show {
    0% {
        left: -20em;
    }
    100% {
        left: 4em;
    }
}

.statistics-menu.hide {
    animation: hide 0.2s ease-in-out forwards;
}

@keyframes hide {
    0% {
        left: 4em;
    }
    100% {
        left: -20em;
    }
}

.statistics-menu .stats {
    padding: 1em;
}

.statistics-menu .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--primary-text-color);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 0.5em;
    padding-inline: 0.7em;
    margin-top: 0.6em;
}

.statistics-menu .stat-title {
    margin-bottom: 0.2em;
    margin-left: 0.2em;
}

.statistics-menu > .stats i {
    color: rgb(255, 255, 255);
    margin-right: 0.4em;
}

.statistics-menu .stat-flex {
    display: flex;
    align-items: center;
}

.statistics-menu .stat-name {
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 0.85;
    margin-right: auto;
}

.statistics-menu .stat-percent {
    margin-left: auto;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0px 2px 3px #000000ab;
    font-weight: 400;
}

.statistics-menu .stat-bar {
    width: 100%;
    height: 1em;
    border-radius: 0.2em;
    background: var(--submenu-background-selected);
}

.statistics-menu .stat-bar-value {
    height: 100%;
    width: 0%;
    border-radius: 0.2em;
    transition: width 0.3s;
}

.statistics-menu #strenght, #condition, #shooting, #driving, #flying {
    display: none;
}

.statistics-menu #strenght .stat-bar-value {
    background: var(--strenght-bar-color);
}

.statistics-menu #condition .stat-bar-value {
    background: var(--condition-bar-color);
}

.statistics-menu #shooting .stat-bar-value {
    background: var(--shooting-bar-color);
}

.statistics-menu #driving .stat-bar-value {
    background: var(--driving-bar-color);
}

.statistics-menu #flying .stat-bar-value {
    background: var(--flying-bar-color);
}

.statistics-menu .close {
    width: 1.3em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--close-color);
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 1em;
    transition: 0.2s;
    cursor: pointer;
}

.statistics-menu .close:hover {
    background: var(--close-color-hover);
}

.statistics-menu .close:active {
    background: var(--close-color-active);
}

.statistics-menu .close > i {
    font-size: 0.8em;
    opacity: 0.75;
}

.statistics-menu hr {
    border-color: #b3b3b338;
    margin-block: 1em;
    opacity: 0.3 !important;
}

.statistics-menu #notification-status {
    display: flex;
    align-items: center;
}

.statistics-menu #notification-status p {
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
    margin-right: auto;
}

.statistics-menu .status-button {
    font-weight: 600;
    padding-inline: 0.5em;
    border-radius: 5px;
    color: rgb(245, 245, 245) !important;
    background: rgb(10, 10, 10);
    border: 1px solid #ffffff87;
    width: fit-content;
    transition: 0.2s ease;
    margin-left: 0.25em;
}

.statistics-menu .status-button-active {
    color: rgb(10, 10, 10) !important;
    background: rgb(245, 245, 245) !important;
}






/* 
    PAPERS MENU
*/
.purchase-menu {
    display: none;
    position: absolute;
    z-index: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.purchase-menu>div {
    display: none;
    position: relative;
    width: 30em;
    height: 39em;
    border-radius: 0.5em;
    background: var(--menu-background);
    color: white;
    overflow: hidden;
    box-shadow: 0px 0px 4em #0d0d0d8c;
    animation: scaleIn 0.2s;
}

.purchase-menu>div::before,
.purchase-menu>div::after {
    content: "";
    position: absolute;
    width: 70rem;
    height: 50rem;
    border-radius: 50%;
    opacity: .1;
    z-index: 0;
    background: radial-gradient(var(--main-color) 10%, transparent 70%);
}

.purchase-menu>div::before {
    transform: translate(-50%, -50%);
    top: 0rem;
    left: 10em;
}

.purchase-menu>div::after {
    transform: translate(50%, 50%);
    bottom: 0rem;
    right: 10em;
}

.purchase-menu>div>.header {
    position: relative;
    z-index: 500;
    display: flex;
    align-items: center;
    gap: 1em;
    background: rgba(0, 0, 0, 0.4);
    height: 3.5em;
    padding-inline: 1.0em;
}

.purchase-menu .header .memberships,
.purchase-menu .header .proteins {
    width: 8em;
    background: var(--main-color);
}

.purchase-menu .header .memberships:not(.active):hover,
.purchase-menu .header .proteins:not(.active):hover {
    background: var(--main-color-hover);
}

.purchase-menu .header .memberships:active,
.purchase-menu .header .proteins:active {
    background: var(--main-color-active);
}

.purchase-menu .header .memberships.active,
.purchase-menu .header .proteins.active {
    background: var(--main-color-active);
}

.purchase-menu .header .memberships,
.purchase-menu .header .proteins,
.purchase-menu>div>.header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: 0.3s;
}

.purchase-menu>div>.header .close {
    width: 2em;
    background: var(--back-btn-color);
    margin-left: auto;
}

.purchase-menu>div>.header .close:hover {
    background: var(--back-btn-color-hover);
}

.purchase-menu>div>.memberships-menu {
    position: relative;
    z-index: 50000;
    padding: 1em;
    background: var(--submenu-background);
    margin: 1em;
    border-radius: 0.5em;
    height: 33.5em;
    overflow: auto;
}

.purchase-menu>div>.proteins-menu {
    gap: 1em;
    display: grid;
    grid-template-rows: min-content;
    position: relative;
    z-index: 50000;
    padding: 1em;
    background: var(--submenu-background);
    margin: 1em;
    border-radius: 0.5em;
    height: 33.5em;
    overflow: auto;
}

.purchase-menu>div>.proteins-menu>div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: #c3c3c31f;
    border-radius: 0.4em;
    padding: 1em;
    height: 6em;
}

.purchase-menu>div>.proteins-menu>div>.image {
    width: 4em;
    height: 4em;
    min-width: 4em;
    margin-right: 1em;
}

.purchase-menu>div>.proteins-menu>div>.image>img {
    width: 100%;
    rotate: 25deg;
}

.purchase-menu>div>.proteins-menu>div>.informations {
    width: 100%;
    line-height: 1.2;
}

.purchase-menu>div>.proteins-menu>div>.informations>.label {
    font-weight: 700;
    font-size: 1.3em;
}

.purchase-menu>div>.proteins-menu>div>.informations>.description {
    font-weight: 300;
    font-size: 0.9em;
    opacity: 0.75;
}

.purchase-menu>div>.proteins-menu>div>.purchase-btn {
    width: 6em;
    text-align: center;
    font-weight: 600;
    font-size: 1.0em;
    border-radius: 0.3em;
    background: var(--main-color);
    cursor: pointer;
    transition: 0.2s;
    z-index: 34500;
}

.purchase-menu>div>.proteins-menu>div>.purchase-btn:hover {
    background: var(--main-color-hover);
}
    
.purchase-menu>div>.proteins-menu>div>.purchase-btn:active {
    background: var(--main-color-active);
}


.purchase-menu>div>.memberships-menu .current-membership {
    font-weight: 500;
    font-size: 1.0em;
}

.purchase-menu>div>.memberships-menu hr {
    opacity: 0.05;
    margin-block: 0.7em;
}
.purchase-menu>div>.memberships-menu .list {
    gap: 1em;
    display: grid;
}

.purchase-menu>div>.memberships-menu .list > div {
    display: flex;
    height: 3em;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    background: #c3c3c31f;
    border-radius: 0.4em;
    padding: 1em;
}

.purchase-menu>div>.memberships-menu .list > div .time > p {
    font-weight: 600;
}

.purchase-menu>div>.memberships-menu .list > div .purchase-btn {
    padding-inline: 0.5em;
    background: var(--main-color);
    border-radius: 0.3em;
    padding-block: 0.2em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.purchase-menu>div>.memberships-menu .list > div .purchase-btn:hover {
    background: var(--main-color-hover);
}

.purchase-menu>div>.memberships-menu .list > div .purchase-btn:active {
    background: var(--main-color-active);
}

.purchase-menu>div>.memberships-menu .list > div .purchase-btn.disabled {
    background: #555;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

/* Receipt */

.receipt {
    display: none;
    font-family: 'Fake Receipt', sans-serif !important;
    position: absolute;
    /* right: 5em;
    top: 12em; */
    right: 5em;
    bottom: -1em;
    z-index: 5000;
    animation: print-receipt 1.5s ease-in-out;
}

.receipt-texts {
    position: absolute;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
}

.receipt-texts > .header-label {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.receipt-texts > .header-tuning {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.receipt-texts > .legend {
    display: flex;
    justify-content: space-between;
}

.receipt-texts > .list {
    max-height: 25em;
    overflow: auto;
}

.receipt-texts > .list .product {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
}

.receipt-texts .receipt-discounted {
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.65) !important;
    margin-left: 0.25em;
}

.receipt-texts > .total {
    display: flex;
    justify-content: space-between;
}

.receipt-texts > .total .total-discounted {
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.65) !important;
}

.receipt-texts > .buttons {
    display: flex;
    margin-inline: auto;
}

.receipt-texts > .buttons > .pay_cash,
.receipt-texts > .buttons > .pay_bank {
    padding-block: 0.5em;
    padding-inline: 1.5em;
    margin-left: auto;
    margin-right: 1em;
    color: white;
    border: 2px solid transparent;
    background: rgb(82 112 255 / 77%);
    border-radius: 0.5em;
    transition: 0.2s;
}

.receipt-texts > .buttons > .pay_cash:hover,
.receipt-texts > .buttons > .pay_bank:hover {
    scale: 1.05;
    background: rgb(82 112 255 / 100%);
}

.receipt-texts > .buttons > .cancel {
    padding-block: 0.5em;
    padding-inline: 1.5em;
    margin-right: auto;
    margin-left: 1em;
    color: rgb(82 112 255 / 77%);
    border: 2px solid rgb(82 112 255 / 77%);
    background: transparent;
    border-radius: 0.5em;
    transition: 0.2s;
}

.receipt-texts > .buttons > .cancel:hover {
    scale: 1.05;
    color: rgb(82 112 255 / 100%);
    border: 2px solid rgb(82 112 255 / 100%);
}


.receipt .receipt-img {
    width: 25em;
}

@keyframes print-receipt {
    0% {
        bottom: -45em;
    }
    100% {
        bottom: -1em;
    }
}